<div class="container" style="padding-top: 5em;">
    <div class="login-container register-container">
        <div class="title">
            <h2>Create my account</h2>
        </div>
        <form class="example-form" [formGroup]="registerForm">
            <mat-form-field class="login-fields">
                <mat-label>Pseudo</mat-label>
                <input type="text" matInput placeholder="Pseudo" formControlName="pseudo">
            </mat-form-field>
            <mat-form-field class="login-fields">
                <mat-label>Email</mat-label>
                <input type="text" matInput placeholder="Email" formControlName="email">
            </mat-form-field>
            <mat-form-field class="login-fields">
                <mat-label>Password</mat-label>
                <input type="password" matInput placeholder="Password" formControlName="password">
            </mat-form-field>
            <mat-form-field class="login-fields">
                <mat-label>Password confirmation</mat-label>
                <input type="password" matInput placeholder="Confirm your password"
                    formControlName="passwordConfirmation">
                <mat-error *ngIf="registerForm.hasError('notSame')">
                    Passwords do not match
                </mat-error>
            </mat-form-field>
            <button class="login-btn" (click)="register()">
                <span>Register</span>
            </button>
            <p class="subtitle">You have already an account ?<a routerLink="/login">Login</a></p>
        </form>
    </div>

</div>