body, html {
    margin: 0 2em 0 2em;
    padding: 0;
}

body {
    background-color: #1368CE;
    color: white;
}

textarea:focus, input:focus{
    outline: none;
}

@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.container {
    margin: auto;
    width: 80%;
    font-family: 'Fjalla One', sans-serif;
}

.text-center {
    text-align: center;
}

.hover {
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.hover:hover {
	transform: scale(1.05);
}

.slide {
    margin-left: 0px;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.slide:hover {
	margin-left: -30px;
}

.subtitle {
    font-size: 12px;
    color: rgba(0, 0, 0, .5);
    font-family: 'Roboto', sans-serif;
}

.no-margin {
    margin: 0;
}

.p2-top {
    padding-top: 2em;
}
// Button

.round-btn {
    border: none;
    border-radius: 20px;
    padding: 1em;
    cursor: pointer;
    width: 100%;
    margin-top: 1em;
}

.round-btn span {
    font-weight: 700;
    color: white;
}

// Background

.back-blue {
    background-color: #1368CE;
}

.red-color {
    color: #E21B3C;
}

.green-color {
    color: #26890C;
}

.blue-color {
    color: #1368CE;
}