<div class="container">
    <h1 class="text-center">Weather Quizz</h1>
    <div class="configuration-container">
        <img src="assets/cloud.svg" alt="cloud">
        <form [formGroup]="form">
            <input formControlName="name" matInput placeholder="Your name">
            <mat-select placeholder="Select your city" class="city-selector" formControlName="city">
                <mat-option *ngFor="let element of cities" [value]="element.city" required>
                    {{element.city}}
                </mat-option>
            </mat-select>
        </form>
        <button (click)="startGame()" class="play-btn"><span>START</span></button>
    </div>
</div>