h1 {
    margin-top: 5em;
}

.configuration-container {
    margin: auto;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.configuration-container img {
    width: 40%;
    margin: 2em;
}

.configuration-container form {
    width: 100%;
}

.configuration-container input {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: none;
}

.city-selector {
    margin-top: 2em;
    width: 100%;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
}

.play-btn {
    border: none;
    background-color: #13CE77;
    border-radius: 20px;
    padding: 1em;
    cursor: pointer;
    width: 50%;
    margin-top: 2em;
}

.play-btn span {
    font-weight: 700;
    color: white;
}