<div class="navbar">
    <a routerLink="/">
        <h1>Weather Quizz</h1>
    </a>
    <ul>
        <a routerLink="/solo">
            <li>Solo</li>
        </a>
        <a routerLink="/multi">
            <li>MultiPlayer</li>
        </a>
    </ul>
</div>