@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    font-family: 'Anton', sans-serif;
}

.navbar ul {
    list-style: none;
    display: flex;
}

.navbar a {
    text-decoration: none;
    color: white;
}

.navbar ul li {
    margin-left: 2em;
}