body {
    background-color: #FECA57;
    color: white;
}

.container h1 {
    margin-top: 3em;
}

.scoreboard{
    margin: auto;
    width: 50%;
    height: 50%;
    display: flex;
    align-items:center;
    justify-content: center;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 2em;
    font-size: 25px;
	font-weight: 800;
    text-align: center;
}

.name {
    
}

.podium-container{
        width: 100%;
        margin: auto;
        text-align: center;
}

.playerscoring-podium-container {
    margin: auto;
    width: 70%;
    height: 50%;
    display: flex;
    align-items:flex-end;
    justify-content: center;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 1em;

}


.first-player-podium-container{
    border: 2px solid #FECA57;
    background-color: #FECA57;
    border-radius: 20px;
    height: 250px;
	width: 150px;
	margin: 0 auto;
	line-height: 100px;
	font-size: 25px;
	font-weight: 800;
    text-align: center;
}

.second-player-podium-container{
    border: 2px solid #FECA57;
    background-color: #FECA57;
    border-radius: 20px;
    height: 175px;
	width: 150px;
	margin: 0 auto;
	line-height: 100px;
	font-size: 25px;
	font-weight: 800;
    text-align: center;
}

.third-player-podium-container{
    border: 2px solid #FECA57;
    background-color: #FECA57;
    border-radius: 20px;
    height: 100px;
	width: 150px;
	margin: 0 auto;
	line-height: 100px;
	font-size: 25px;
	font-weight: 800;
    text-align: center;
}

.pass-btn {
    margin: 2em;
    margin-top: 10em;
    border: 2px solid #13CE77;
    background-color: #13CE77;
    border-radius: 20px;
    padding: 1em;
    cursor: pointer;
    width: 20em;
}

.pass-btn span {
    font-weight: 700;
    color: white;
}