<div class="container">
    <h1 class="text-center">Weather Quizz</h1>
    <h1 class="text-center">Podium</h1>
    
    <div class="podium-container" *ngIf="playersResult">
        <div class="scoreboard">
            <div class="name">{{playersResult[0].name}}</div>
            <div *ngIf="playersResult.length > 1" class="name">{{playersResult[1].name}}</div>
            <div *ngIf="playersResult.length > 2" class="name">{{playersResult[2].name}}</div>
        </div>
        <div class="playerscoring-podium-container">
            <div class="second-player-podium-container">{{playersResult[0].score}}</div>
            <div *ngIf="playersResult.length > 1" class="first-player-podium-container">{{playersResult[1].score}}</div>
            <div *ngIf="playersResult.length > 2" class="third-player-podium-container">{{playersResult[2].score}}</div>
        </div>
        <button routerLink="/home" class="pass-btn hover">
            <span>PASS</span>
        </button>
    </div>
    
</div>