body {
    background-color: #E1DFDF!important;
    font-family: 'Fjalla One', sans-serif;

}

body, html {
    margin: 0;
    padding: 0;
}

textarea:focus, input:focus{
    outline: none;
}

@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.container {
    margin: auto;
    width: 80%;
    height: 70vh;
}

.question-container {
    margin: 0;
    width: 100%;
    background-color: white;
    height: 5em;
    box-shadow: 12px 12px 20px 1px rgba(0, 0, 0, .2);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

h2 {
    margin: 0;
}

.question-content {
    margin-top: 2em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.timer {
    background-color: #1368CE;
    border-radius: 50%;
    height: 70px;
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.weather {
    width: 40%;
    border-radius: 10px;
    border: 2px solid white;
}

.response-container {
    width: 100%;
    height: 30%;
    margin-top: 2em;
}

.response-content {
    width: 100%;
    display: flex;
    align-items: center;
}

.response-card {
    width: 50%;
    height: 100px;
    border-radius: 10px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 12px 12px 20px 1px rgba(0, 0, 0, .2);
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
    border: none;
    color: white;
}

.btn-green {
    background-color: #26890C;
}

.btn-red {
    background-color: #E21B3C;
}

.btn-yellow {
    background-color: #d09f36;
}

.btn-blue {
    background-color: #1368CE;
}

.response-card:hover {
	transform: scale(1.03);
}

button:disabled,
button[disabled]{
  opacity: 0.6;
}

.done {
    margin: 10px;
}

.end-game {
    -webkit-animation: fadein 2s;
    width: 100vw;
    height: 100vh;
    z-index: 5;
    background-color: #1368CE;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.end-game h1 {
    text-align: center;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}