<div *ngIf="end" class="end-game">
    <h1>End Game</h1>
</div>
<section class="question-container">
    <h2 *ngIf="response === undefined">{{question}}</h2>
    <h2 class="red-color" *ngIf="response === false">Bad response !</h2>
    <h2 class="green-color" *ngIf="response === true">Good response !</h2>
</section>
<div class="container" *ngIf="weatherImageUrl">
    <p *ngIf="score" class="text-center no-margin p2-top blue-color">Your turn {{score[currentPlayer].name}} !</p>
    <div class="question-content">
        <div class="timer">
            <h2>{{timeLeft}}</h2>
        </div>
        <img class="weather" src="{{weatherImageUrl}}" alt="weather">
        <div class="response mg-right">
            <button (click)="newTurn()" class="round-btn back-blue" [disabled]="response === undefined">
                <span>Next</span>
            </button>
        </div>
    </div>

    <div class="response-container">
        <div class="response-content">
            <button class="response-card btn-red" (click)="selectResponse(responses.A.good)"
                [disabled]="response !== undefined && !responses.A.good">
                <mat-icon class="done" *ngIf="response !== undefined && responses.A.good">done</mat-icon>
                <h2>{{responses.A.response}}</h2>
            </button>
            <button class="response-card btn-blue" (click)="selectResponse(responses.B.good)"
                [disabled]="response !== undefined && !responses.B.good">
                <mat-icon class="done" *ngIf="response !== undefined && responses.B.good">done</mat-icon>
                <h2>{{responses.B.response}}</h2>
            </button>
        </div>
        <div class="response-content">
            <button class="response-card btn-yellow" (click)="selectResponse(responses.C.good)"
                [disabled]="response !== undefined && !responses.C.good">
                <mat-icon class="done" *ngIf="response !== undefined && responses.C.good">done</mat-icon>
                <h2>{{responses.C.response}}</h2>
            </button>
            <button class="response-card btn-green" (click)="selectResponse(responses.D.good)"
                [disabled]="response !== undefined && !responses.D.good">
                <mat-icon class="done" *ngIf="response !== undefined && responses.D.good">done</mat-icon>
                <h2>{{responses.D.response}}</h2>
            </button>
        </div>
    </div>

</div>