.explain-container {
    width: 100%;
    margin: auto;
    text-align: center;
}

.card-container {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card {
    width: 20em;
    height: 200px;
    background-color: white;
    margin: 1em;
    box-shadow: 12px 12px 20px 1px rgba(0, 0, 0, .2);
    padding: 10px;
    cursor: pointer;
}

.img-container {
    width: 100%;
    height: 80%;
    background-color: #1368CE;
}

.card img {
    width: 80%;
    height: 80%;
    margin-top: 1em;
}

.description {
    color: rgba(0, 0, 0, .5);
}

.play-btn {
    margin: 2em;
    margin-top: 10em;
    border: 2px solid white;
    background-color: #13CE77;
    border-radius: 20px;
    padding: 1em;
    cursor: pointer;
    width: 20em;
}

.play-btn span {
    font-weight: 700;
    color: white;
}