<div class="container">
    <div class="explain-container">
        <h2>How does Weather Quizz work ?</h2>
        <div class="card-container">
            <div class="card hover">
                <div class="img-container">
                    <img src="assets/card-01.svg" alt="card-01">
                </div>
                <div class="card-content">
                    <p class="description">
                        Take one second to choose your gamemode
                    </p>
                </div>
            </div>
            <div class="card hover">
                <div class="img-container" style="background-color: #FF6E6E;">
                    <img src="assets/card-02.svg" alt="card-02">
                </div>
                <div class="card-content">
                    <p class="description">
                        Enter a name and a city for each player
                    </p>
                </div>
            </div>
            <div class="card hover">
                <div class="img-container" style="background-color: #F3F33A;">
                    <img src="assets/card-03.svg" alt="card-03">
                </div>
                <div class="card-content">
                    <p class="description">
                        Launch your game and beat your neigbhor !
                    </p>
                </div>
            </div>
        </div>
        <button routerLink="/launcher" class="play-btn hover">
            <span>PLAY</span>
        </button>
    </div>
</div>