.login-container {
    width: 50%;
    height: 25em;
    margin: auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 12px 12px 20px 1px rgba(0, 0, 0, .2);
}

.container {
    padding-top: 15vh;
    text-align: center;
}

.title {
    text-align: center;
    color: #1368CE;
}

.title h2 {
    padding-top: 2em;
}

.login-fields {
    width: 70%;
    margin: auto;
}

input {
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    color: black;
}


.login-btn {
    border: none;
    background-color: #1368CE;
    border-radius: 20px;
    padding: 1em;
    cursor: pointer;
    width: 50%;
    margin-top: 1em;
}

.login-btn span {
    font-weight: 700;
    color: white;
}

.subtitle a {
    font-size: 13px;
    color: #1368CE;
    cursor: pointer;
    margin-left: 6px;
}


// REGISTER COMPONENT

.register-container {
    height: 35em;
}