<div class="container">

    <div class="login-container">
        <div class="title">
            <h2>Welcome to Weather Quizz !</h2>
        </div>

        <form class="example-form" [formGroup]="loginForm">
            <mat-form-field class="login-fields">
                <mat-label>Email</mat-label>
                <input type="text" matInput placeholder="Email" formControlName="login">
            </mat-form-field>
            <mat-form-field class="login-fields">
                <mat-label>Password</mat-label>
                <input type="password" matInput placeholder="Password" formControlName="password">
            </mat-form-field>
            <button class="login-btn" (click)="login()">
                <span>Login</span>
            </button>
            <p class="subtitle">You have no account ?<a routerLink="/register">Register Here !</a></p>
        </form>
    </div>

</div>