body {
    background-color: #1368CE;
    color: white;
}

.container h1 {
    margin-top: 3em;
}

.gamemode-container {
    margin: auto;
    width: 70%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 5em;
}

.gamemode-container img {
    width: 30%;
    margin-top: -3.1em;
}

.gamemode {
    width: 40%;
    height: 200px;
    background-color: rgba(0, 0, 0, .2);
    text-align: center;
}

.play-btn {
    border: none;
    background-color: #13CE77;
    border-radius: 20px;
    padding: 1em;
    cursor: pointer;
    width: 50%;
}

.play-btn span {
    font-weight: 700;
    color: white;
}

.launcher-options {
    margin-top: 10em;
}

.options-container {
    text-align: center;
    display: flex;
    align-items: center;
}

.options-container h2 {
    color: #1368CE;
}