<div class="container">
    <h1 class="text-center">Weather Quizz</h1>
    <div class="gamemode-container">
        <div class="solo-gamemode-container gamemode">
            <img src="assets/cloud.svg" alt="cloud">
            <h2 class="text-center">Solo</h2>
            <button class="play-btn hover" routerLink="/solo">
                <span>Play</span>
            </button>
        </div>
        <div class="multi-gamemode-container gamemode">
            <img src="assets/sun.svg" alt="sun">
            <h2 class="text-center">Multi</h2>
            <button class="play-btn hover" routerLink="/multi">
                <span>Play</span>
            </button>
        </div>
    </div>

    <mat-expansion-panel class="launcher-options" [expanded]="true">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Game Options
            </mat-panel-title>
            <mat-panel-description>
                Edit your options
            </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="options-container">
            <div>

            </div>
            <div style="margin: auto;">
                <h2>Questions</h2>
                <form [formGroup]="form">
                    <mat-select formControlName="questionsNumbers">
                        <mat-option *ngFor="let element of questions" [value]="element" required>
                            {{element}}
                        </mat-option>
                    </mat-select>
                </form>
            </div>
        </div>
    </mat-expansion-panel>
</div>