
.configuration-container {
    margin: auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.configuration-container img {
    width: 20%;
    margin: 2em;
}

.configuration-container form {
    width: 100%;
}

.configuration-container input {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: none;
}

.city-selector {
    margin-top: 2em;
    width: 100%;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
}

.play-btn {
    border: none;
    background-color: #13CE77;
    border-radius: 20px;
    padding: 1em;
    cursor: pointer;
    width: 100%;
    margin-top: 2em;
}

.play-btn span {
    font-weight: 700;
    color: white;
}

.players-form {
    margin: 2em;
    width: 30%;
}

.btn-container {
    width: 20%;
    margin: 5em;
}

.form-players {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.remove {
    margin-top: 1em;
    width: 50%;
    height: 2em;
    background-color: red;
    border-radius: 10px;
    border: none;
}

.remove span {
    font-weight: 700;
    color: white;
}