<div class="container">
    <h1 class="text-center">Weather Quizz</h1>
    <div class="configuration-container">
        <img src="assets/cloud.svg" alt="cloud">
        <form [formGroup]="form">
            <div formArrayName="players" class="form-players">
                <div *ngFor="let element of players.controls; let player = index;" [formGroupName]="player"
                    class="players-form">
                    <input formControlName="name" matInput placeholder="Your name">
                    <mat-select placeholder="Select your city" class="city-selector" formControlName="city">
                        <mat-option *ngFor="let element of cities" [value]="element" required>
                            {{element}}
                        </mat-option>
                    </mat-select>
                    <button *ngIf="player >= 2" class="remove" (click)="removePlayer(player)">
                        <span>Remove Player</span>
                    </button>
                </div>
            </div>
        </form>
        <div class="btn-container">
            <button class="play-btn" (click)="addPlayer()"><span>Add player</span></button>
            <button (click)="launchGame()" class="play-btn"><span>START</span></button>
        </div>
    </div>
</div>